<div  class="bg-hack-purple h-auto items-center justify-center">
    <app-nav-bar></app-nav-bar>
    <div class="flex justify-center flex-col items-center">
        <app-landing-page></app-landing-page>
        <app-about-page></app-about-page>
        <app-about-page-extended></app-about-page-extended>
        <app-sign-up-page></app-sign-up-page>
    </div>
    <footer class="bg-black w-full h-fit text-center font-inter text-white py-2">
        <div>
            Board of European Students of Technology
        </div>
        <div class="font-bold font-inter"> 
            Made by ITD Mostar
        </div>
</footer>
</div>