
<nav class="bg-transparent w-full">
    <div class="container mx-auto flex justify-between items-center p-4">
       
        <div class="flex items-center">
            <img src="../../assets/best-logo.png" alt="Logo" class="h-16 w-auto">
        </div>
                       
        <div class="hidden md:flex space-x-8">
            <a href="#about" class="nav-link tracking-wide text-lg font-semibold text-gray-100 hover:text-hack-rose">About</a>
            <a href="#about" class="nav-link tracking-wide text-lg font-semibold text-gray-100 hover:text-hack-rose">Prizes</a>
            <a href="#" class="nav-link tracking-wide text-lg font-semibold text-gray-100 hover:text-hack-rose">Partners</a>
            <a href="#" class="nav-link tracking-wide text-lg font-semibold text-gray-100 hover:text-hack-rose">Team</a>
            <a href="#" class="nav-link tracking-wide text-lg font-semibold text-gray-100 hover:text-hack-rose">Best</a>
        </div>
        <div>
            <a href="#apply" class="bg-hack-rose text-white px-4 py-2 md:text-xl text-lg font-extrabold tracking-widest hover:bg-rose-600">APPLY</a>
        </div>
    </div>
</nav>

