<div class=" flex md:flex-row flex-row md:w-2/3 md:my-20 mx-auto h-auto items-center md:flex-nowrap md:justify-normal  flex-wrap justify-center">
    <div class="md:w-1/2 w-auto   mx-4  md:mx-0 md:text-left text-center flex flex-col md:mt-0 mt-10">
        <div class="text-5xl sm:text-7xl font-bold text-hack-rose">BEST</div>
        <div class="text-5xl sm:text-7xl font-bold text-hack-yellow">MOSTAR</div>
        <div class="text-5xl sm:text-7xl font-bold text-white">HACKATHON</div>
        <div class="md:text-xl text-sm text-white my-5" >Join innovative minds, tackle exciting challenges, <br> and turn ideas into reality.<br> The clock is ticking!</div>
        <a href="#apply" class="bg-hack-rose hidden md:block text-white px-4 py-2 md:text-xl w-fit mx-auto md:mx-0 mb-5 text-lg font-extrabold tracking-widest hover:bg-rose-600">APPLY</a>
       
    </div>
    <div class="w-2/3 md:w-1/2 flex justify-center">
        <img src="../../assets/hack-logo-colored.png" alt="Hackathon Logo" class="md:w-2/3 w-full">
    </div>
</div>
